
<div class="container">
        <h2>Solicitud R2</h2>
    <table class="table-r2">
        <thead>
           <tr>
               <th>Marca<i class="arrow fas fa-arrows-alt-v"></i></th>
               <th>Modelo <i class="arrow fas fa-arrows-alt-v"></i></th>
               <th>Año<i class="arrow fas fa-arrows-alt-v"></i></th>
               <th>Precio <i class="arrow fas fa-arrows-alt-v"></i></th>
               <th>Color <i class="arrow fas fa-arrows-alt-v"></i></th>
               <th>Cantidad <i class="arrow fas fa-arrows-alt-v"></i></th>
            </tr>    
        </thead>
        <tbody>
            <tr>
                <td data-text="Marca">Chevrolet</td>
                <td data-text="Modelo">Camaro</td>
                <td data-text="Año">2017</td>
                <td data-text="Precio">29.900.000</td>
                <td data-text="Color">Azul</td>
                <td data-text="Cantidad">9</td>
            </tr>
            <tr>
                <td data-text="Marca">Hyundai</td>
                <td data-text="Modelo">Accent</td>
                <td data-text="Año">2019</td>
                <td data-text="Precio">8.990.990</td>
                <td data-text="Color">Gris</td>
                <td data-text="Cantidad">6</td>
            </tr>
            <tr>
                <td data-text="Marca">Mercedes Benz</td>
                <td data-text="Modelo">Gla 250</td>
                <td data-text="Año">2014</td>
                <td data-text="Precio"> 23.490.000</td>
                <td data-text="Color">Negro</td>
                <td data-text="Cantidad">1</td>
            </tr>
            <tr>
                <td data-text="Marca">Chery</td>
                <td data-text="Modelo">Gran Tiggo 2</td>
                <td data-text="Año">2017</td>
                <td data-text="Precio">13.000.000</td>
                <td data-text="Color">Blanco</td>
                <td data-text="Cantidad">3</td>
            </tr>
            <tr>
                <td data-text="Marca">Toyota</td>
                <td data-text="Modelo">Yaris</td>
                <td data-text="Año">2018</td>
                <td data-text="Precio">10.290.000</td>
                <td data-text="Color">Gris Plomo</td>
                <td data-text="Cantidad">5</td>
            </tr>
            <tr>
                <td data-text="Marca">Nissan</td>
                <td data-text="Modelo">Navara</td>
                <td data-text="Año">2015</td>
                <td data-text="Precio">14.500.000</td>
                <td data-text="Color">Rojo</td>
                <td data-text="Cantidad">2</td>
            </tr>
            <tr>
                <td data-text="Marca">Peugeot</td>
                <td data-text="Modelo">208</td>
                <td data-text="Año">2019</td>
                <td data-text="Precio">11.500.000</td>
                <td data-text="Color">Blanco</td>
                <td data-text="Cantidad">8</td>
            </tr>
            <tr>
                <td data-text="Marca">Porsche</td>
                <td data-text="Modelo">Boxster</td>
                <td data-text="Año">2012</td>
                <td data-text="Precio">23.490.000</td>
                <td data-text="Color">Negro</td>
                <td data-text="Cantidad">1</td>
            </tr>
            <tr>
                <td data-text="Marca">Ford</td>
                <td data-text="Modelo">Mustang</td>
                <td data-text="Año">2017</td>
                <td data-text="Precio">27.990.000</td>
                <td data-text="Color">Rojo</td>
                <td data-text="Cantidad">1</td>
            </tr>
            <tr>
                <td data-text="Marca">Audi</td>
                <td data-text="Modelo">A5</td>
                <td data-text="Año">2015</td>
                <td data-text="Precio">19.980.000</td>
                <td data-text="Color">Blanco</td>
                <td data-text="Cantidad">3</td>
            </tr> 
            <tr>
                <td data-text="Marca">Ferrari</td>
                <td data-text="Modelo">488</td>
                <td data-text="Año">2019</td>
                <td data-text="Precio">210.000.000</td>
                <td data-text="Color">Rojo</td>
                <td data-text="Cantidad">1</td>
            </tr> 
            <tr>
                <td data-text="Marca">Chevrolet</td>
                <td data-text="Modelo">Corvette</td>
                <td data-text="Año">2013</td>
                <td data-text="Precio">51.900.000</td>
                <td data-text="Color">Rojo</td>
                <td data-text="Cantidad">3</td>
            </tr>
        </tbody>
   </table>
   
</div>
