
<div class="container">
        <h2>Solicitud R2</h2>
    <table class="table-r2">
        <thead>
           <tr>
               <th>Uno <i class="arrow fas fa-arrows-alt-v"></i></th>
               <th>Dos <i class="arrow fas fa-arrows-alt-v"></i></th>
               <th>Tres <i class="arrow fas fa-arrows-alt-v"></i></th>
               <th>Cuatro <i class="arrow fas fa-arrows-alt-v"></i></th>
               <th>Cinco <i class="arrow fas fa-arrows-alt-v"></i></th>
               <th>Seis <i class="arrow fas fa-arrows-alt-v"></i></th>
            </tr>    
        </thead>
        <tbody>
            <tr>
                <td data-text="Uno">1</td>
                <td data-text="Dos">2</td>
                <td data-text="Tres">3</td>
                <td data-text="Cuatro">4</td>
                <td data-text="Cinco">5</td>
                <td data-text="Seis">6</td>
            </tr>
            <tr>
                <td data-text="Uno">1</td>
                <td data-text="Dos">2</td>
                <td data-text="Tres">3</td>
                <td data-text="Cuatro">4</td>
                <td data-text="Cinco">5</td>
                <td data-text="Seis">6</td>
            </tr>
            <tr>
                <td data-text="Uno">1</td>
                <td data-text="Dos">2</td>
                <td data-text="Tres">3</td>
                <td data-text="Cuatro">4</td>
                <td data-text="Cinco">5</td>
                <td data-text="Seis">6</td>
            </tr>
            <tr>
                <td data-text="Uno">1</td>
                <td data-text="Dos">2</td>
                <td data-text="Tres">3</td>
                <td data-text="Cuatro">4</td>
                <td data-text="Cinco">5</td>
                <td data-text="Seis">6</td>
            </tr>
            <tr>
                <td data-text="Uno">1</td>
                <td data-text="Dos">2</td>
                <td data-text="Tres">3</td>
                <td data-text="Cuatro">4</td>
                <td data-text="Cinco">5</td>
                <td data-text="Seis">6</td>
            </tr>
            <tr>
                <td data-text="Uno">1</td>
                <td data-text="Dos">2</td>
                <td data-text="Tres">3</td>
                <td data-text="Cuatro">4</td>
                <td data-text="Cinco">5</td>
                <td data-text="Seis">6</td>
            </tr>
            <tr>
                <td data-text="Uno">1</td>
                <td data-text="Dos">2</td>
                <td data-text="Tres">3</td>
                <td data-text="Cuatro">4</td>
                <td data-text="Cinco">5</td>
                <td data-text="Seis">6</td>
            </tr>
            <tr>
                <td data-text="Uno">1</td>
                <td data-text="Dos">2</td>
                <td data-text="Tres">3</td>
                <td data-text="Cuatro">4</td>
                <td data-text="Cinco">5</td>
                <td data-text="Seis">6</td>
            </tr>
            <tr>
                <td data-text="Uno">1</td>
                <td data-text="Dos">2</td>
                <td data-text="Tres">3</td>
                <td data-text="Cuatro">4</td>
                <td data-text="Cinco">5</td>
                <td data-text="Seis">6</td>
            </tr>
            <tr>
                <td data-text="Uno">1</td>
                <td data-text="Dos">2</td>
                <td data-text="Tres">3</td>
                <td data-text="Cuatro">4</td>
                <td data-text="Cinco">5</td>
                <td data-text="Seis">6</td>
            </tr> 
            <tr>
                <td data-text="Uno">1</td>
                <td data-text="Dos">2</td>
                <td data-text="Tres">3</td>
                <td data-text="Cuatro">4</td>
                <td data-text="Cinco">5</td>
                <td data-text="Seis">6</td>
            </tr> 
            <tr>
                <td data-text="Uno">1</td>
                <td data-text="Dos">2</td>
                <td data-text="Tres">3</td>
                <td data-text="Cuatro">4</td>
                <td data-text="Cinco">5</td>
                <td data-text="Seis">6</td>
            </tr>
        </tbody>
   </table>
   
</div>
